$screen-mobile: 767px;
$screen-tablet: 960px;
$screen-desktop : 1280px;
$screen-desktop-pro : 1980px;

$primary-black: #101828;
$primary-white: #FFFFFF;

$gray-900: #27303F;
$gray-800: #3F4959;
$gray-700: #4C5667;
$gray-600: #667183;
$gray-500: #98A2B2;
$gray-400: #D0D5DD;
$gray-300: #E4E7EB;
$gray-200: #F2F4F7;
$gray-100: #F6F7FA;
$gray-50: #F8F9FB;

