$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop : 1024px;

$primary-black: #101828;
$primary-white: #FFFFFF;

$gray-900: #27303F;
$gray-800: #3F4959;
$gray-700: #4C5667;
$gray-600: #667183;
$gray-500: #98A2B2;
$gray-400: #D0D5DD;
$gray-300: #E4E7EB;
$gray-200: #F2F4F7;
$gray-100: #F6F7FA;
$gray-50: #F8F9FB;

@function spacing($num){
  $base: 0.4rem;
  @return $base * $num;
}

$spacing-1 : spacing(1);
$spacing-2 : spacing(2);
$spacing-3 : spacing(3);
$spacing-4 : spacing(4);
$spacing-5 : spacing(5);
$spacing-6 : spacing(6);
$spacing-7 : spacing(7);
$spacing-8 : spacing(8);
$spacing-9 : spacing(9);
$spacing-10 : spacing(10);
$spacing-14 : spacing(14);
$spacing-15 : spacing(15);
$spacing-21 : spacing(21);
$spacing-30 : spacing(30);
$spacing-40 : spacing(40);
$spacing-60 : spacing(60);
$spacing-70 : spacing(70);
$spacing-80 : spacing(80);
