/* 색상 가이드 */


/* 어프리케이션 색상 파레트*/
body {
  --pallet__coral_pink : #f35f61;
  --pallet__royal_blue : #5d7bf6;
  --pallet__sea_green :  #1c918b;
  --pallet__orange_gold : #ffc65c;
  --pallet__dark_gray : #2e2e33;
}


/* 테마 컬러 지정 */
.template_theme {
  &.coral_pink {
    --temp__point_color : var(--pallet__coral_pink);
  }
  &.royal_blue {
    --temp__point_color : var(--pallet__royal_blue);
  }
  &.sea_green {
    --temp__point_color : var(--pallet__sea_green);
  }
  &.orange_gold {
    --temp__point_color : var(--pallet__orange_gold);
  }
  &.dark_gray {
    --temp__point_color : var(--pallet__dark_gray);
  }
}


/* 여백 가이드 */

/* */
