@import '../variables';
@import "../mixin";

.buttons_content {

  @include gen-all-buttons;

  .buttons {
    display: flex ;
    gap: $spacing-1;
    //justify-content:center;
    align-items: center;
    min-width: 13rem;
    padding: $spacing-1;
  }

  th {
    border: 1px solid #3F4959;
  }
}
