@import '../variables';
@import "../mixin";

.guide_body.color_pallet {
  .color_set {
    padding-bottom: $spacing-5;
    display: flex;
    flex-direction: column;
    gap: $spacing-3;

    .set_header {
      color: #333;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.6px;
    }

    .set_content {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-3;
    }
  }

  @include mobile {
    .color_set {
      gap: $spacing-2;

      .set_content {
        gap: $spacing-2;
      }
    }
  }
}
