.guide_body.typography_content {
  overflow-x: scroll;
  overflow-y: visible;
  table {
    display: flex;
    flex-direction: column;
    thead, tbody {
      display: flex;
      flex-direction: column;
    }
    thead {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.6px;
      border-bottom: 0.1rem solid var(--gray-400, #D0D5DD);
      padding-bottom: 1.2rem;
      margin: 1.7rem 0;
    }

    tbody {
      tr {
        padding: 1.7rem 0;
        box-sizing: border-box;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6),
        &:nth-child(9), &:nth-child(12),&:nth-child(15), &:nth-child(16){
          border-bottom: 0.1rem dotted var(--gray-400, #D0D5DD);
        }
      }
    }

    th, td{
      min-width: 19.5rem;
      text-align: center;

      &:first-child{
        min-width: 14rem;
        text-align: left;
      }

      &:nth-child(6) {
        min-width: 22rem;
      }

      &:last-child {
        overflow: visible;

        > div {
          text-align: left;
          padding-left: 2rem;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.8rem; /* 128.571% */
          letter-spacing: -0.06rem;
          min-width: 500px;
        }
      }
    }
  }
}
